@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ========================================
   ROOT VARIABLES  
========================================= */
:root {
  /* ACCENT COLORS */
  --accent-color-gold: #D8B961;   /* Dark Gold (AAA on black) */
  --accent-color-brown: #705200;  /* Dark Brown (AAA on white) */
  --accent-color-dteal: #065F6F;  /* Deep Teal (AAA on white) */
	--accent-color-lteal: #95B6BB;	/* Light Teal (AAA on black) */
	--accent-color-ateal: #cadadd;
  --accent-color-dgray: #595959;   /* Dark Gray (AAA on white) */
	--accent-color-lgray: #B0B0B0;   /* Light Gray (AAA on black) */

  /* TEXT */ 
  --text-color-main: #242424;     /* Deep near-black (AAA on white) */
  --text-color-alt: #FFFFFF;      /* White (AAA on near-black) */

  /* BACKGROUNDS */
  --bg-color-main: #FFFFFF;				/* White (AAA on Deep charcoal) */
  --bg-color-alt: #242424;        /* Deep charcoal (AAA on white) */
	--bg-color-lalt: #333333;       /* Light charcoal (AAA on white) */

  /* FONT WEIGHTS */
  --weight-small: 300;
  --weight-semibold: 500;
  --weight-bold: 700;
	
/* ========================================
   RESET
========================================= */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color-main);
  color: var(--text-color-main);
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  padding-top: 75px;
  display: flex;
  flex-direction: column;
	min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.gen-link {
  text-decoration: none;
  color: var(--accent-color-dteal);
	font-weight: var(--weight-bold);
}

.gen-link-cc {
  text-decoration: none;
  color: var(--accent-color-brown);
	font-weight: var(--weight-bold);
}

.gen-link:hover,
.gen-link-cc:hover {
  color: var(--text-color-main);
}

.gen-link:visited,
.gen-link-cc:visited {
  color: var(--accent-color-dgray);
}

/* ========================================
   MAIN CONTENT
========================================= */
main {
  flex: 1;
  margin: 15px;
}

h1 {
  font-size: calc(1.525rem + 4.5vw);
  font-weight: var(--weight-small);
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 475px) {
  h1 {
    font-size: calc(1.525rem + 4vw);
  }
}

h2 {
  font-size: calc(1rem + 1.3vw);
  font-weight: var(--weight-small);
  line-height: 1.2;
}
@media (max-width: 768px) {
  h2 {
  font-size: calc(1rem + 2vw);
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: calc(1rem + .3vw);
  font-weight: var(--weight-small);
  line-height: 1.2;
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1rem + .2vw);
  font-weight: var(--weight-small);
  line-height: 1.2;
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.text-center {
  text-align: center;
}

.text-faded {
	color: var(--accent-color-dgray);
}

.text-white {
	color: var(--text-color-alt);
}

.text-thick {
	font-weight: var(--weight-semibold);
}

.text-bold {
	font-weight: var(--weight-bold);
}

.underline {
  text-decoration: underline;
}

/* ========================================
   PHOTOS
========================================= */
.attribution {
	color: var(--accent-color-lgray);
	font-weight: var(--weight-small);
	font-size: .5em;
}

.attribution a {
	color: var(--accent-color-lgray);
}

.attribution img {
	opacity: 25%;
}

.feature-photo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.soft-image {
	width: 100%;
	filter: grayscale(55%)
	contrast(100%);
	border-radius: 5%;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.9);	
}

.semi-soft-image {
	width: 100%;
	filter: grayscale(25%)
	contrast(100%);
	border-radius: 5%;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.9);	
}

@media (min-width: 900px) {
	.semi-soft-image {
	width: 80%;
  }
}

/* ========================================
   LISTS
========================================= */
dd, dt {
	padding: 0;
	margin: 0;
}

/* CUSTOM ACORN BULLETS */
.custom-bullets li {
  position: relative;
  padding-left: 28px;
}

.custom-bullets li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  background-image: url("../assets/acorn.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* ========================================
   NAVBAR
========================================= */
#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 10px;
}

.nav-link {
  padding: 15px;
  font-weight: var(--weight-semibold);
	font-size: 1.2rem;
}

/* Projects dropdown button */
.dropbtn {
  border: none;
  margin-left: 5px;
  cursor: pointer;
  font-size: 1rem;
}

/* Dropdown Menu */
.dropdown-content {
  display: none;
  position: absolute;
	margin-top: 10px;
  background: var(--bg-color-lalt);
  width: 250px;
  z-index: 2;
	border-radius: 15px;
}

.dropdown-content li a {
  display: block;
  margin: 20px;
  color:  var(--text-color-alt);
	font-weight: var(--weight-semibold);
  text-decoration: none;
  cursor: pointer;
}

/* Hover interactions */
.dropdown:hover > .dropdown-content {
  display: block;
}

/* Hover styles */
.dropdown-content li a:hover,
.dropbtn-second:hover {
  background: #666;
	border-radius: 5px;
}

/* Desktop: hide top links */
@media (max-width: 768px) {
  #nav-links {
    display: none;
  }
}

/* ========================================
   HAMBURGER BUTTON
========================================= */
.hamburger {
  position: fixed;
  top: 25px;
  right: 20px;
  width: 35px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 5;
  transition: opacity 0.2s ease;
}

.hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  transition: 0.3s ease;
	z-index: 5;
}

/* X ANIMATION */
.hamburger.active span:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

/* Desktop: hide hamburger */
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}

/* Hide hamburger when contact card is open */
body.contact-open .hamburger {
  opacity: 0;
  pointer-events: none;
}

/* ========================================
   SIDE MENU
========================================= */
.side-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: var(--bg-color-alt);
  color: var(--text-color-alt);
  transition: 0.3s ease;
  padding-left: 5px;
  z-index: 4;
  display: flex;
  flex-direction: column;
	justify-content: space-between;
	padding-top: 80px;
	padding-bottom: 50px;
}

.side-menu.open {
  left: 0;
}

.side-menu li {
	list-style: none;
}

.side-menu li a {
  font-size: 1.4rem;
  font-weight: var(--weight-bold);
}

.side-menu li a {
	color: var(--text-color-alt);
}

#mobile-nav-links .dropbtn {
	background: var(--bg-color-alt);
}

#mobile-nav-links li,
#mobile-nav-links a,
#mobile-nav-links button {
  margin-left: 0;
  padding-left: 0;
}

#mobile-nav-links a {
  display: block;
  width: 100%;
  padding-top: 20px;
	padding-left: 20px;
  text-align: left;
}

#mobile-nav-links .dropdown ul {
	margin-left: 20px;
	margin-top: 0;
}

#mobile-nav-links .dropdown-content a {
	display: block;
	width: 100%;
  margin: 0;
	padding: 5px;
	font-weight: var(--weight-semibold);
  text-decoration: none;
	font-size: 1.2rem;
  cursor: pointer;
}

#side-logo {
	opacity: 7%;
	margin-top: auto;
}

/* ========================================
   OVERLAY
========================================= */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 3;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

/* ========================================
   Contact Card
========================================= */
.contact-card {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  color: var(--text-color-alt);
  transition: 0.3s ease;
  z-index: 6;
  display: flex;
  overflow-y: auto;
}

.contact-card.open {
  left: 0;
}

/* Close button */
#contact-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
	font-weight: var(--weight-bold);
}

/* Paragraph spacing */
.contact-text {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  color: #fff;
}

/* Business card container */
.business-card {
  width: 300px;

  -webkit-mask-image: url('../assets/gj-mask.svg');
          mask-image: url('../assets/gj-mask.svg');

  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;

  -webkit-mask-position: center;
          mask-position: center;

  -webkit-mask-size: contain;
          mask-size: contain;

  -webkit-mask-type: luminance;
          mask-type: luminance;
	height: 450px;
	position: relative;
	top: calc(50% - 225px);
	left: calc(50vw - 150px);
	color: var( --text-color-alt);
  padding: 15px;
  margin: 0;
  text-align: center;
  border-radius: 8px; 
}

.first-name {
  font-weight: var(--weight-bold);
	font-size: 2rem;
	line-height: .5;
	margin: 225px 0 0 0;
}

.end-name {
  font-weight: var(--weight-bold);
	font-size: 1.6rem;
	line-height: 0;
	margin-bottom: 40px;
}

.contact-link {
  font-weight: var(--weight-semibold);
  color: var( --text-color-alt);
	font-size: .9rem;
	line-height: .5;
}
	
.contact-link a {
  font-weight: var(--weight-semibold);
  color: var( --text-color-alt);
	font-size: .9rem;
	line-height: .5;
}

.contact-link a:hover  {
  text-decoration: underline;
	color: var( --text-color-alt);
}

.social-media {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
	padding: 7px;
}

.social-media a {
	color: var( --text-color-alt);
}

.social-media a:hover {
	color: var( --text-color-main);
}

/* ========================================
   FOOTER
========================================= */
#footer {
	bottom: 0;
  background: var(--bg-color-alt);
  margin-top: 50px;
}

#bottom-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px 0;
  color: var(--text-color-alt);
  width: 100%;
}

#footer a {
  font-size: 0.8rem;
  margin-top: 7px;
  color: var(--text-color-alt);
	font-weight: var(--weight-small);
}

#footer .social {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#footer p {
  font-size: 0.8rem;
  margin: 5px;
}

