#welcome-section{width:100vw;
	height: 100vw;
background-color: #5a7c91;
text-align: center;
}

#portfolio-navbar{ background-color: black;
	color: white;
	position: fixed;
	top: 0px;
	left: 0px;
    width: 250px;
    height: 100%;
    padding-top: 75px;
    padding-left: 20px;
    background-color: var(--accent-color-bold);
    border-right: 1px solid #ddd;
    overflow-y: auto;
    z-index: 0;
		  font-size: 1rem;
  }	

#portfolio-navbar a{ 
	color: white;
  }

 #main-doc {
    margin-left: 100px; 
  }
footer {
  position: relative;
  z-index: 10; /* higher than navbar (0) */
}